<section class="hero is-primary is-small bookish-header">
  <div class="hero-body">
    <div class="title-container">
      <h1 class="title is-1">Bookish</h1>
      <a href="/">
      </a>
    </div>
    <% if defined? subtitle %>
      <h2 class="subtitle is-3">
        <%= subtitle%>
      </h2>
    <% end %>

  </div>

</section>