<section class="hero is-primary">
  <div class="hero-body">
    <h1 class="title is-1">Library Books</h1>
  </div>

</section>
<section class="container is-fluid">
  <div>
    <% @books.sort_by { |book| book.title }.each do |book| %>
      <div class="card">
        <a class="card-link" href="<%= book_path(book) %>"></a>
        <div class="card-content">
<!--          -->
          <p class="title is-4">
            <%= book.title %>
          </p>
          <p class="subtitle is-6">
            <%= book.author %>
          </p>
        </div>
      </div>

    <% end %>
  </div>
</section>


