.bookish-header .title-container {
  width: fit-content;
  position: relative;
}

.bookish-header .title-container a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //display: none;
}