// overwrites bulma variables
@import '_layout';
@import 'bulma';
// page / partials' styling
@import "books";
@import "_bookish_header";

.container {
  margin-top: 30px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

$table-border: 1px solid black;

.table {
  border-top: $table-border;
  border-bottom: $table-border;
}